<div class="backgroundLogin">
    <div class="header">
        <div class="icon">
            <ion-icon name="medical-sharp"></ion-icon>
        </div>
        
        <h1 class="title">Smart Hospital 4.0</h1>
        <p class="subTitle">Faça login para acessar sua conta</p>
    </div>

    <form>
        <div class="form-container">
            <!-- Email Input -->
            <div class="textfielde">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email" class="input">
            </div>

            <!-- Password Input -->
            <div class="textfielde">
                <label for="password">Senha</label>
                <input id="password" type="password" placeholder="Senha" class="input">
            </div>

            <!-- Login Button -->
            <button class="btn-login" type="submit">Entrar</button>
            
        </div>
    </form>
</div>